InfoPathDB/ISAPI/InfoPathDB/InfoPathDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloTable">
        <s:complexType />
      </s:element>
      <s:element name="HelloTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFormLibrary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormLibraryTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OptionalContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OptionalRefreshSeconds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFormLibraryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryFormLibraryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloTableSoapIn">
    <wsdl:part name="parameters" element="tns:HelloTable" />
  </wsdl:message>
  <wsdl:message name="HelloTableSoapOut">
    <wsdl:part name="parameters" element="tns:HelloTableResponse" />
  </wsdl:message>
  <wsdl:message name="QueryFormLibrarySoapIn">
    <wsdl:part name="parameters" element="tns:QueryFormLibrary" />
  </wsdl:message>
  <wsdl:message name="QueryFormLibrarySoapOut">
    <wsdl:part name="parameters" element="tns:QueryFormLibraryResponse" />
  </wsdl:message>
  <wsdl:portType name="InfoPathDBSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">For basic testing.  Returns a simple 'Hello World' String object.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">For basic testing.  Returns a simple 'Hello Table' DataTable object.</wsdl:documentation>
      <wsdl:input message="tns:HelloTableSoapIn" />
      <wsdl:output message="tns:HelloTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryFormLibrary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query multiple InfoPath XML documents within a SharePoint Form Library.  The InfoPath published column feature has limitations. High numbers of fields and repeating sections are all now clearly visible with this Web Service. Easily aggregate XML files for robust reporting.</wsdl:documentation>
      <wsdl:input message="tns:QueryFormLibrarySoapIn" />
      <wsdl:output message="tns:QueryFormLibrarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoPathDBSoap" type="tns:InfoPathDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloTable">
      <soap:operation soapAction="http://tempuri.org/HelloTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryFormLibrary">
      <soap:operation soapAction="http://tempuri.org/QueryFormLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoPathDBSoap12" type="tns:InfoPathDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloTable">
      <soap12:operation soapAction="http://tempuri.org/HelloTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryFormLibrary">
      <soap12:operation soapAction="http://tempuri.org/QueryFormLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoPathDB">
    <wsdl:port name="InfoPathDBSoap" binding="tns:InfoPathDBSoap">
      <soap:address location="http://localhost:888/InfoPathDB.asmx" />
    </wsdl:port>
    <wsdl:port name="InfoPathDBSoap12" binding="tns:InfoPathDBSoap12">
      <soap12:address location="http://localhost:888/InfoPathDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>